<%- include("templates/header", {tab: "pagina de Inicio" }) %>
  <main>
    <h1 class="text-primary">Sitio Web HomePage</h1>
    <h2>
      <%= titulo %>
    </h2>
  </main>
  <%- include("templates/footer") %>