<%- include("templates/header", {tab: "pagina de Inicio" }) %>
<main>
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h1 class="text-primary my-5">Sitio Web HomePage</h1>
        <h2><%= titulo %></h2>
      </div>
    </div>
  </div>
</main>
<%- include("templates/footer") %>
